header {
    width: 100%;
    margin-top: 3.5rem;
}

body {
    background-color: black;
}
nav {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
}

header img {
    width: 100%;
}


.hide {
    display: none;
}

.comments {
    overflow: hidden;
}

.comments-body {
    display: flex;
    width: fit-content;
    overflow: auto;
}

.card img {
    height: 100%;
    width: 100%;
}

@keyframes leftright {
    0%,
    20% {
        transform: translateX(0%);
        left: 0%;
    }
    40%,
    50% {
        transform: translateX(-50%);
        left: 50%;
    }
}

.comments-body .card {
    min-width: 10rem;
}

.comments-body .card:not(:first-child) {
    margin-left: 1rem;
}

.courses-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.courses-body .card {
    width: 32%;
}

footer {
    height: 16rem;
    background-color: black;
    color: white;
    padding: 2%;

    display: flex;
    justify-content: space-between;
}

footer .legal {
    display: flex;
    margin-right: 1rem;
}

footer .legal .address {
    border: 2px solid rgba(255, 255, 255, 0.655);
    padding: .5rem;
    border-radius: .5rem;
    margin-left: .5rem;
}

footer .infos {
    display: flex;
    justify-content: space-between;
}

footer img {
    width: 10rem;
}

.design {
    background-color: black;
    color: white;
    font-size: .8rem;

    text-align: right;
    font-weight: 200;
    padding: .5rem;
}

.design a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

@media (min-width: 601px) {
    #desktop.hide {
        display: block;
    }
}

@media (max-width: 600px) {
    #mobile.hide {
        display: block;
    }

    .courses-title, .comments-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .comments-body {
        
    animation: leftright 10s infinite alternate ease-in-out;
    }

    .courses-body .card {
        width: 100%;
    }

    .courses-body {
        display: flex;
        flex-direction: column;
    }

    .courses-body .card:not(:first-child) {
        margin-top: 1rem;
    }

    footer {
        display: block;
    }
}